<div novalidate ng-cloak>
	<div class="modal-header">
		<h3 class="modal-title">Create Ticket</h3>
	</div>
	<div class="modal-body">
		<!--<form name="ticketDetails"> -->
		<form name="ticketDetails" ng-submit="ticketDetails.$valid && updateOrCreate(ticket)">
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="form-group has-success ">
							<label class="control-label" for="id">Ticket ID</label>
							<input type="text" ng-disabled="true" ng-model="ticket.id" value="{{ticket.id}}" class="form-control" id="id">
						</div>
					</div>
				</div>
			</div>
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="form-group has-success ">
							<label class="control-label" for="title">Ticket Title</label>
							<input type="text" ng-disabled="true" ng-model="ticket.title" value="{{ticket.title}}" class="form-control" id="title">
						</div>
					</div>
				</div>
			</div>
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="form-group has-success ">
							<label class="control-label" for="desc">Description</label>
							<textarea type="text" ng-disabled="true"
							ng-minlength="10" ng-maxlength="240" ng-model="ticket.description" value="{{ticket.description}}"
							class="form-control" id="desc"></textarea>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="has-success ">
							<label class="control-label" for="module">Module</label>

							<select	class="form-control" ng-model="ticket.module.id" ng-disabled="true"
							ng-options="module.id as module.name for module in modules" id="module"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="has-success ">
							<label class="control-label" for="user">Assignee</label>

							<select	class="form-control" ng-model="ticket.user.id" ng-disabled="true"
							ng-options="user.id as user.name for user in users" id="user"></select>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="has-success ">
							<label class="control-label" for="customer">Customer</label>

							<select class="form-control" ng-model="ticket.customer.id" ng-disabled="true"
							ng-options="customer.id as customer.name for customer in customers" id="customer"></select>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="has-success ">
							<label class="control-label" for="status">Status</label>

							<select	class="form-control" ng-model="ticket.status.id" ng-disabled="true"
							ng-options="status.id as status.name for status in statuss" id="status"></select>
						</div>
					</div>
				</div>
			</div>

			<div class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="has-success ">
							<label class="control-label" for="resolution">Resolution</label>

							<select	class="form-control" ng-disabled="true" ng-model="ticket.resolution.id" ng-options="resolution.id as resolution.name for resolution in resolutions" id="resolution"></select>
						</div>
					</div>
				</div>
			</div>

			<div ng-show="ticket.comments" class="row row-sm">
				<div class="col-lg-12">
					<div class="md-form-group">
						<div class="form-group has-success ">
							<div ng-repeat="comment in ticket.comments">
								<label class="control-label" for="comments">commented by {{usersMap[comment.createdBy].name}}</label>
								<textarea type="text" ng-disabled="true" ng-model="comment.text" value="{{comment.text}}"
								class="form-control" id="comments"></textarea>
								<p></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>

		</form>
	</div>
	<div class="modal-footer">

<!--	<button type="button" class="btn btn-primary" ng-disabled="ticketDetails.$pristine|| ticketDetails.$invalid" ng-click="ticketDetails.$valid && updateOrCreate(ticket, 'false')">
		Create
	</button> -->
	<button type="button" class="btn btn-primary"  ng-click="cancel(ticket)">
		Ok
	</button>
</div>
</div>
